@{
    var ogrenciler = ViewData["Ogrenciler"] as List<Ogrenci>;
}

<table>
    <tr>
        <th>Id</th>
        <th>isim</th>
        <th>Detay</th>
        <th>Sil</th>
    </tr>
    @foreach(var item in ogrenciler)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Ad</td>
            <td><a href="/ogrenci/detay/@item.Id">Detay</a></td>
            <td><a href="/ogrenci/sil/@item.Id">Sil</a></td>
        </tr>
    }
</table>
<a href="/ogrenci/yeni"> YEni öğrenci</a>