@model Ogrenci

<form method="post" action="/ogrenci/ekle">
    <label asp-for="Ad">Ad</label>
    <input type="text" asp-for="Ad"/>

    <button type="submit">EKle</button>
</form>

<a href="/ogrenci/liste">GEriDön</a>