@using MVC.Study._01.Context.Concrete

@model Musteri
<div class="card">
    <div class="card-header">

        YENİ
    </div>
    <div class="card-body">
        <form class="row g-3" asp-controller="Musteri" asp-action="Create">
            <div class="col-md-12">
                <label asp-for="Ad" class="form-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="Soyad" class="form-label"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-12">
                <input type="submit" class="btn btn-success" value="Kaydet" />
            </div>
        </form>
    </div>
</div>
